/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
*{
    font-family: "Roboto";
}
#header{
    background-color: #552020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#header img{
    width: 150px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
  }
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(151, 100, 23), #cbe00b);
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: ease-in 0.5s;
}
.socials button {
    width: 45px;
    height: 40px;
    background-image: linear-gradient(45deg, rgb(151, 100, 23), #cbe00b);
    border: none;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    position: static;
}
.socials button .fa-facebook{
    font-size: 25px;
    color: rgba(0, 0, 255, 0.665);
}
.socials button .fa-instagram{
    font-size: 25px;
}
.socials button .fa-youtube{
    font-size: 25px;
}
.socials-responsive button {
    width: 45px;
    height: 40px;
    background-image: linear-gradient(45deg, rgb(151, 100, 23), #cbe00b);
    border: none;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    position: static;
    display: none;
}

.socials-responsive button i{
    font-size: 25px;
}
#main-container{
    background-image: url(/img/DSC_0382-01poster.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
}
#main-container .main-container-list{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-container .main-container-list h2{
    color: #084253;
    padding: 2em;
    font-size: 18px;
    text-align: left;
}
#main-container .main-container-list h3{
    color: #084253;
}
#main-container .main-container-list h4{
    color: #f1e5d3;
}
#footer{
    background-color: #552020;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
#footer .footer-list  img{
   width: 150px;
}
#footer .footer-list p{
    color: #dbb47a;
    padding: 10px 0px;
}
#footer .footer-list h3{
    color: #dbb47a;
    margin-bottom: 10px;
}
#footer .footer-list a{
    color: #8b7c64;
    text-decoration: none;
}
#footer .footer-list a:hover{
    text-decoration: underline;
}
#footer .footer-list ul{
    list-style: none;
}
#footer .footer-list ul li{
    margin-bottom: 8px;
}
.search-wrapper{
    width: 315px;
    position: relative;
}
.search-wrapper input{
    height: 31px;
    padding: 5px 5px;
    width: 150px;
}
.search-wrapper button{
    background-color: #8b7c64;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 7px 15px;
    position: absolute;
    z-index: 2;
    transform: translateX(-1px);
    cursor: pointer;
} 
#copyright-footer{
    text-align: center;
    background-color: #552020;
    color: #dbb47a;
    padding: 10px 0px;
}
/* About */
.about {
    color: #552020;
    background-color: #f7d0a5;
    text-align: left;
    padding: 100px;      
}
p {
    margin-top: 30px;
    line-height: 1.5;
}
.about p a {
    text-decoration: none;
    color: #4e0505;
}
.about p a:hover {
    text-decoration: none;
    color: #4e0505;
    background-color: #dfdacb;
}
/* Investment */
#investment{
    padding: 50px 50px;
    background-color: #f7d0a5;
}
.Investment {
    color: #552020;
    text-align: center;
}
.Investment p {
    text-align: center;
}
/* Contact */
#contact {
    color: #552020;
    background-color: #f7d0a5;
    text-align: center;  
    padding: 20px 20px;
}
.container-form{
    padding: 20px;
    }
    .container-form h1{
        text-align: left;
        margin-bottom: 20px;
        color: #000000;
        font-size: 28px;
    }  
    .container-form form{
    margin: 5% 30%;
    padding: 50px;
    background: #b47171;
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    overflow: hidden;
    width: 40%;
    }
    .container-form form label{
    color: #000000;
    display: block;
    text-align: left;
    font-size: 16px;

    }
    .container-form form input{
    width: 100%;
    background: #fff;
    border: 1px solid #c6c7cc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    } 
    .container-form form button{
        background: #4e0505;
        color: #ffffff;
        width: 100%;
        height: 40px;
        border: none;
        font-size: 1.2em;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
    }
    /*Gallery */
    #gallery {
        background-color: #f7d0a5;
    }
    #gallery h1{
        text-align: center;
        padding: 20px 0px;
        color: #552020;
    }
    #gallery .gallery-container{
        display: flex;
        justify-content: center;
        /* max-width: 1200px; */
        width: 100%;
        flex-wrap: wrap;
    }
    #gallery .gallery-container img{
        width: 370px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        padding: 5px;
    }
@media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #552020;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.6s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #fff;
        font-size: 24px;
        padding-left:300px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 24px;
    }
    .socials-responsive{
        display: flex;
    }
    .socials-responsive button {
        width: 40px;
        height: 35px;
        display: inline;
    }
    .socials-responsive button i{
        font-size: 20px;
    }
    .socials-responsive{
        display: flex;
    }
    .socials-responsive button {
        width: 40px;
        height: 35px;
        display: inline;
    }
    .socials-responsive button i{
        font-size: 20px;
    }
    .socials{
        display: none;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px;
    }
    .about{
        padding: 40px;
    }
    #investment{
        padding: 40px 40px;
    }
    .container-form form{
        margin: 5% 10%;
        padding: 20px;
        width: 80%;
        }
}
@media(max-width:589px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #552020;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.6s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #fff;
        font-size: 24px;
        padding-left:240px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 24px;
    }
    .socials-responsive{
        display: flex;
    }
    .socials-responsive button {
        width: 40px;
        height: 35px;
        display: inline;
    }
    .socials-responsive button i{
        font-size: 20px;
    }
    .socials{
        display: none;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px;
    }
    .about{
        padding: 30px;
    }
    #investment{
        padding: 30px 30px;
    }
    .container-form form{
        margin: 5% 10%;
        padding: 20px;
        width: 80%;
        }
}
@media(max-width:489px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #552020;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.6s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #fff;
        font-size: 24px;
        padding-left:180px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 24px;
    }
    .socials-responsive{
        display: flex;
    }
    .socials-responsive button {
        width: 40px;
        height: 35px;
        display: inline;
    }
    .socials-responsive button i{
        font-size: 20px;
    }
    .socials{
        display: none;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px;
    }
    .about{
        padding: 20px;
    }
    #investment{
      padding: 20px 20px;
    }
    .container-form form{
        margin: 5% 10%;
        padding: 20px;
        width: 80%;
        }
}
@media(max-width:389px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #552020;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.6s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #fff;
        font-size: 24px;
        padding-left:100px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 24px;
    }
    .socials-responsive{
        display: flex;
    }
    .socials-responsive button {
        width: 40px;
        height: 35px;
        display: inline;
    }
    .socials-responsive button i{
        font-size: 20px;
    }
    .socials{
        display: none;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px;
    }
    .about{
        padding: 20px;
    }
    #investment{
        padding: 20px 20px;
    }
    .container-form form{
        margin: 5% 0%;
        padding: 20px;
        width: 100%;
        }
}